{% extends './base.html' %}

{% block title %} CONTACT {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Contact Form</h1>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputName">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputComent" class="col-sm-2 col-form-label">Coment</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputComent">
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-sm-5">
              <input type="submit" class="form-control" id="inputSend">
            </div>
          </div>
    </div>
</div>
{% endblock %}